<!-- I was unable to get this view to render in particular. The view itself works but the form is not functional. Plans include being able to search crops based on the selected input in the dropdown menu, and then be able to add them to the planned crop list. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coral Island Crop API</title>
</head>
<body>
    <div class="seasonTitle">
        <h1>Crop Planner</h1>
        <h2>Season: Fall</h2>
    </div>
    <div class="cropContainer">
        <div class="select">
            <select>
                <option>Spring</option>
                <option>Summer</option>
                <option>Fall</option>
                <option>Winter</option>
            </select>
        </div>
        <input type="search" placeholder="Add a crop"></input>
        <div class="card">
            <div class="card-header">
                <img src="" alt="Crop sprite">
              Crop name
            </div>
            <input type="checkbox">
            <ul>
              <li>ID</li>
              <li>name</li>
              <li>seedName</li>
            </ul>
          </div>
        </input>
    </div>

</body>
</html>